apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-arrosage-pvc
  namespace: irrigation-system
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard
