apiVersion: v1
kind: Service
metadata:
  name: arrosage-service
  namespace: irrigation-system
  labels:
    app: arrosage-service
spec:
  type: ClusterIP
  ports:
  - port: 8082
    targetPort: 8082
    protocol: TCP
    name: http
  selector:
    app: arrosage-service
