apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: irrigation-system
  labels:
    app: auth-service
spec:
  type: ClusterIP
  ports:
  - port: 8083
    targetPort: 8083
    protocol: TCP
    name: http
  selector:
    app: auth-service
