apiVersion: v1
kind: Service
metadata:
  name: meteo-service
  namespace: irrigation-system
  labels:
    app: meteo-service
spec:
  type: ClusterIP
  ports:
  - port: 8081
    targetPort: 8081
    protocol: TCP
    name: http
  selector:
    app: meteo-service
