apiVersion: v1
kind: Service
metadata:
  name: postgres-arrosage
  namespace: irrigation-system
  labels:
    app: postgres-arrosage
spec:
  type: ClusterIP
  ports:
  - port: 5432
    targetPort: 5432
    protocol: TCP
    name: postgres
  selector:
    app: postgres-arrosage
